<a href="https://colab.research.google.com/github/annamas1/Python_Seminar_HW1/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Seminar1_%26_HomeWork1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Семинар 1**

***Задание 1***

1.1 Соедините два словаря в один

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь

In [ ]:
def func(dict1, dict2):
  dict1.update(dict2)
  return dict1

func(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

***Задание 2***

Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения

2.1 Используя цикл for

In [ ]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [ ]:
def func2(keys, values):
  dict3 = {}
  for i in range (len(keys)):
    dict3.update({keys[i]:values[i]})
  return dict3

func2(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

2.2 Используя dict comprehensions

In [ ]:
def func3(keys, values):
  return {keys[i]:values[i] for i in range (len(keys))}
func3(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

***Задание 3***

3.1 Напишите функцию с циклом for

Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

In [ ]:
client_dict = {
"name": "John",
"age": 25,
"salary": 5000,
"city": "Moscow"
}

keys = ['name', 'age']
def func4(dict4, keys):
  dict5 = {}
  for i in keys:
    dict5.update({i: dict4[i]})
  return dict5
func4(client_dict, keys)

{'name': 'John', 'age': 25}

3.2 Используя dict comprehensions

In [ ]:
def func5(keys,dict4):
  return {i: dict4[i] for i in keys}
func5(keys, client_dict)

{'name': 'John', 'age': 25}

***Задание 4***

4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random


*   Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
*   Используйте list comprehensions

In [ ]:
import random
random.seed(10)
list1 = [random.randint(0,100) for i in range (5)]
list1

[73, 4, 54, 61, 73]

4.2 Напишите генератор
 
*   Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
*   Внутри генератора реализуйте обход по списку с данными

На каждой итерации генератор будет возвращать кортеж из двух элементов:
1.   данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2.   целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

*   Используйте функцию time из модуля time для подсчета времени.
*   Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [ ]:
import time
def func6(list1):
  last_time = None
  for i in list1:
    current_time = time.time()
    if last_time: d = current_time - last_time
    else: d = current_time - current_time
    last_time = time.time()
    yield (int(d), i)

for i in func6(list1):
  print(i)
  time.sleep(2)

(0, 73)
(2, 4)
(2, 54)
(2, 61)
(2, 73)

***Задание 5***

5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src=https://cdn.playcaliber.com/site/media/news/2021/06/01/4-%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0-%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE-%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B0%D0%BC-1280%D1%85853.jpg>

5.2 Создайте следующую таблицу в ячейке с текстом

<table>
  <tr>
    <td> </td>
    <td> до события </td>
    <td> во время события </td>
    </tr>
    <tr>
    <td> 1 контрольная точка </td>
    <td> 250 </td>
    <td> 500 </td>
    </tr>
    <tr>
    <td> 2 контрольная точка </td>
    <td> 350 </td>
    <td> 700 </td>
    </tr>
    <tr>
    <td> 3 контрольная точка </td>
    <td> 400 </td>
    <td> 800 </td>
    </tr>
  </table>

***Задание 6***

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
*   На вход поступают целочисленные значения в любом количестве
*   На выходе словарь с ключами суммы трат и средней траты

In [ ]:
def sum_numbers(*numbers):
  a = sum(numbers)
  b = len(numbers)
  return {"sum":a, "mean": a/b}
sum_numbers(1,2,3,4,5,6)

{'sum': 21, 'mean': 3.5}

## **Домашнее задание к семинару 1**

###***Задача 1***

Оформляйте ноутбук, используя эти советы:

1.   Номер задачи - заголовок 2
2.   Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

###***Задача 2***

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def all_frut(**frut):
  total = 0
  for amount in frut.values():
    total += amount
  return total

all_frut(banana = 75, mango = 99, apples = 15)

189

###***Задача 3***

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [ ]:
spisok = [100, 125, -90, 345, 655, -1, 0, 200]
sum([i for i in spisok if i > 0])

1425

###***Задача 4***
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

###4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [24]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', 
        '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
        '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', 
        '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

incom = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 
         7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 
         5015, 2008, 316, 6333, 5700, 2887]

sum ([incom[i] for i in range(len(date)) if date[i].split('-')[1] == '11'])

25098

###4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [25]:
def find_incom_by_month(date: list, incom: list) -> dict:
  incom_by_month = {}

  for i in range(len(date)):
    month = date[i].split('-')[1]
    if month in incom_by_month.keys():
      incom_by_month[month] += incom[i]
    else:
      incom_by_month[month] = incom[i]

  return incom_by_month

find_incom_by_month(date, incom)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}